* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F3E5DF;
  font-size: 38px;
  padding: 16px;
}

.names,
.scores,
.display-selection {
  border: 5px ridge #B2AF99;
  border-bottom: none;
  padding: 24px;
  max-width: 300px;
  flex: 1;
}

.sections {
  padding: 16px;
}

#names-section,
#scores-section,
#display-selections-section {
  padding: 0px;
}

/* Round Section */

#round-container {
  text-align: center;
}

/* Names Section */

#names-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* Scores Section */

#scores-section {
  display: flex;
  justify-content: space-around;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

/* Display selections section */

#display-selections-section {
  display: flex;
  justify-content: space-around;
}

.display-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px ridge #B2AF99;
}

/* Results section */

#results-section {
  display: flex;
  justify-content: center;
  margin: 24px 0 8px 0;
}

/* Selections section */

#selections-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selections {
  font-size: 32px;
  padding: 16px 32px;
  max-width: 200px;
  border-radius: 6px;
  background-color: #B2AF99;
  border: 3px outset #8A977E;
  cursor: pointer;
  flex: 1;
  margin: 6px;
}

.selections:hover,
.selections:active {
  background-color: #8A977E;
}

/* Game results section */

#game-results-section {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

/* Dynamic classes */

.win {
  color: #009175;
}

.lose {
  color: #C4515C;
}

.draw {
  color: #FF836F;
}